{{left-nav-arrows}}

<div class='arrows-front text-center'>

<h2>New Downward Arrow Technique Entry</h2>

<button type="submit" class="btn btn-primary" {{action "createArrowsEntry"}}>
  New Entry
</button>

</div>
