{{left-nav-arrows}}

<div class='arrows-front text-center'>

  <div class='text-center input-page-heading'>
    <h2>Downward Arrow Technique</h2>
  </div>

<button type="submit" class="btn btn-primary" {{action "createArrowsEntry"}}>
  New Entry
</button>

</div>
