{{left-nav-columns}}

<div class='columns-front'>

  <div class='text-center input-page-heading'>
    <h2>Columns Method</h2>
  </div>

<button type="submit" class="btn btn-primary" {{action "createColumnsEntry"}}>
  New Entry
</button>

</div>
