<h2>Create Journal Entry</h2>

{{left-nav}}

<button type="submit" class="btn btn-primary" {{action "createJournalEntry"}}>
  Create Journal Entry
</button>

{{outlet}}

{{!-- {{journal-form submit="createJournalEntry"}} --}}
