{{left-nav}}

<div class='journal-front'>

  <div class='text-center input-page-heading'>
    <h2>Journal</h2>
  </div>

<button type="submit" class="btn btn-primary" {{action "createJournalEntry"}}>
  New Entry
</button>

</div>
