{{left-nav-workouts}}

<div class='workouts-front text-center'>

  <div class='text-center input-page-heading'>
    <h2>Workouts</h2>
  </div>

<button type="submit" class="btn btn-primary" {{action "createWorkoutsEntry"}}>
  New Entry
</button>

</div>
