{{left-nav-workouts}}

<div class='workouts-front text-center'>

<h2>Log New Workout</h2>

<button type="submit" class="btn btn-primary" {{action "createWorkoutsEntry"}}>
  New Workout
</button>

</div>
